#footer
	p.
		This app was made with love
script(src="../res/jquery-1.10.2.min.js")
script(src="../res/modernizr-2.6.2.min.js")
script(src="../res/underscore.js")
script(src="../res/backbone.js")
script(src="../res/jquery.knob.js")
script(src="js/app.js")