/*====================== End of Main CSS ======================*/

/*====================== All around config ======================*/
body {
	padding: 0;
	margin: 0;
	font-size: 12px;	
}

* {
	margin: 0;
}

a {
	text-decoration:none;
	color:black;
}

iframe {
    border: 0 none;
}
a > img{
	border:0 !important;
}
img {
	border:0px !important;
}
html, body {
	margin: 0;
	
}
.clear{	
	clear: both;
}

.hide{
	display:none;
}
.notselectable{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.invisible{
	/* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";

  /* IE 5-7 */
  filter: alpha(opacity=0);

  /* Netscape */
  -moz-opacity: 0;

  /* Safari 1.x */
  -khtml-opacity: 0;

  /* Good browsers */
  opacity: 0;
}

/*====================== Site Main CSS ======================*/




/*====================== Media queries ======================*/

/* Tablet */
@media (min-device-width:1024px) and (max-width:989px), screen and (max-device-width:480px), (max-device-width:480px) and (orientation:landscape), (min-device-width:481px) and (max-device-width:1024px) and (orientation:portrait) {
}

/* Mobile */
@media (min-device-width:1024px) and (max-width:509px), (max-device-width:480px) and (orientation:portrait) {}

